# PostgreSQL remoto (origem)
SOURCE_POSTGRES_HOST=seu-host-postgres
SOURCE_POSTGRES_PORT=5432
SOURCE_POSTGRES_DB=fintech
SOURCE_POSTGRES_USER=fintech
SOURCE_POSTGRES_PASSWORD=fintech

# Airflow
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com

# GCS / BigQuery
enable_GCP=true
ENABLE_BIGQUERY_LOAD=true
GCP_PROJECT_ID=seu-projeto
GCS_BUCKET=seu-bucket
GCS_PREFIX=fintech-lakehouse
BIGQUERY_DATASET=fintech_lakehouse
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/creds/gcp-service-account.json

# Diretório local de parquet dentro do container
PARQUET_OUTPUT_DIR=/opt/airflow/data/parquet

# Parâmetros de seed
SEED_CUSTOMERS=10000
SEED_MERCHANTS=2000
SEED_ACCOUNTS=15000
SEED_TRANSACTIONS=100000
SEED_START_DATE=2025-01-01
SEED_END_DATE=2025-12-31
SEED_RANDOM_SEED=42
